In [43]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [44]:
np.random.seed(101)

In [45]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [46]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [47]:
df[['W', 'Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [48]:
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [49]:
df.drop('new', axis=1, inplace=True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [50]:
df.drop('E')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [51]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [52]:
df.iloc[0]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [53]:
df.loc['B', 'Y']

-0.8480769834036315

In [54]:
df.loc[['A', 'B'], ['X', 'Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077

In [55]:
booldf = df > 0
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [56]:
df[df > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [57]:
df['W'] > 0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [58]:
df[df['W'] > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [59]:
df[df['W'] > 0][['Y', 'X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [60]:
df[df['Z'] < 0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [61]:
booldf = df['W'] > 0
result = df[booldf]
cols = ['X', 'Y']
result[cols]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [62]:
df[(df['W']>0) & (df['Y'] > 1)] # and n funciona

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [63]:
df[(df['W']>0) | (df['Y'] > 1)] # or n funciona

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [64]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [65]:
newind = 'ca ny wy or co'.split()

In [66]:
df['states'] = newind
df

          W         X         Y         Z states
A  2.706850  0.628133  0.907969  0.503826     ca
B  0.651118 -0.319318 -0.848077  0.605965     ny
C -2.018168  0.740122  0.528813 -0.589001     wy
D  0.188695 -0.758872 -0.933237  0.955057     or
E  0.190794  1.978757  2.605967  0.683509     co

In [67]:
df.set_index('states')

               W         X         Y         Z
states
ca      2.706850  0.628133  0.907969  0.503826
ny      0.651118 -0.319318 -0.848077  0.605965
wy     -2.018168  0.740122  0.528813 -0.589001
or      0.188695 -0.758872 -0.933237  0.955057
co      0.190794  1.978757  2.605967  0.683509

In [68]:
outside = ['G1','G1','G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
higher_index = list(zip(outside, inside))
higher_index = pd.MultiIndex.from_tuples(higher_index)

In [69]:
df = pd.DataFrame(randn(6,2), higher_index,['A', 'B'])
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [70]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [71]:
df.index.names = ['Groups', 'Nums']
df

                    A         B
Groups Nums
G1     1     0.302665  1.693723
       2    -1.706086 -1.159119
       3    -0.134841  0.390528
G2     1     0.166905  0.184502
       2     0.807706  0.072960
       3     0.638787  0.329646

In [72]:
df.xs('G1')

             A         B
Nums
1     0.302665  1.693723
2    -1.706086 -1.159119
3    -0.134841  0.390528

In [73]:
df.xs(1, level='Nums')

               A         B
Groups
G1      0.302665  1.693723
G2      0.166905  0.184502